@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.draw_area img {
    width: calc(100% / 5);
    object-fit: cover;
    aspect-ratio: 1 / 1;
    vertical-align: bottom;
    padding: 5px;
    visibility: hidden;
}
.draw_area img.show {
    visibility: visible;
}

.nav {
    background: #333;
    display: flex;
    padding: 10px 0;
}
.nav > div {
    padding: 0 1rem;
    border-right: 1px solid #000;
}
.nav > div:last-child {
    border: none;
}
.title {
    color: #fff;
    font-family: 'Oleo Script', cursive;
}
.random_icon {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}
.search_area form{
    height: 100%;
    width: 100%;
}
.search_word {
    height: 100%;
    font-size: 1.2rem;
    padding: 0 1rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #666;
    color: #333;
}
.search_word:focus {
    outline: none;
    border: none;
    background: #efefef;
}
.search_button {
    height: 100%;
    cursor: pointer;
    padding: 0.2rem 1rem;
    vertical-align: bottom;
    background: transparent;
    color: #fff;
    border-radius: 50%;
    border: none;
    background: #666;
}
.search_button:hover {
    background: #999;
}
.search_button:active {
    background-color: #efefef;
    color: #999;
}
.history_area {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.history_area div {
    padding: 5px 10px;
    background: #efefef;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 5px;
}
.history_area div:hover {
    opacity: 0.7;
}


.nav ul {
    display: flex;
}

.page {
    display: none;
}
.page.active {
    display: block;
}